{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="{% static 'style.css' %}">

  {% block links %}
  {% endblock %}

</head>
<body>
  <nav class="navbar">
    <div class="logo-container">
        <img src="{% static 'Tr.png' %}" alt="logo" class="logo">
    </div>
    <div class="search-container">
      <input type="text" placeholder="Search..." class="search-input">
      <button class="search-button">search</button>
    </div>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Networking</a></li>
        <li><a href="#">Messaging</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">video</a></li>
        <li><a href="#">Notification</a></li>
        <li><a href="#">More</a></li>
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
</body>

</html>