{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trumpet</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar">
      <div class="logo-container">
          <img src="{% static 'Tr.png' %}" alt="logo" class="logo">
      </div>
      <div class="search-container">
        <input type="text" placeholder="Search..." class="search-input">
        <button class="search-button">search</button>
    </div>
      <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Networking</a></li>
          <li><a href="#">Messaging</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">video</a></li>
          <li><a href="#">Notification</a></li>
          <li><a href="#">More</a></li>
      </ul>
  </nav>
  <nav class="navbar2">
    <div class="group-b1">
      <button class="b1">Show analitics</button>
      <button class="b1">Edit profile</button>
      <button class="b1">Resume</button>
    </div>
  </nav>
</body>
</html>
