{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block body %}
    <h1>Resume analyzer</h1>
    {% if error %}
        <p class="error">{{result.error}}</p>
    {% else %}
        <p>Temporary page</p>
        <h1>{{result.score}}</h1>
        <p>out of 100</p>
        <h2>Reasons from AI</h2>
        <p>{{result.reason}}</p>
        <h2>Suggestions</h2>
        <ul>
        {% for rc in result.recommendations %}
            <li>{{rc}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}